.reset-password-wrapper{
    display:flex;
    justify-content: center;
}
.reset-password-form-fields{
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    width:50%;
    background-color: rgb(163, 183, 236);
    border-radius: 5px;
    gap: 5vh;
    justify-content: center;
}


@media screen and (max-width: 450px){

    .reset-password-form-fields{
        width:90%;
    }
}